<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
  <h1>Task Deadline Approaching: <%= @task.title %></h1>
  <p>Hello <%= @task.user.email %>,</p>
  <p>This is a reminder that the deadline for the task "<%= @task.title %>" is approaching.</p>
  <p>Please take necessary actions.</p>
</body>
</html>